<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Attendance_Management</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driverClass</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3307/school?autoReconnect=true</param-value>
<!--     <param-value>jdbc:mysql://https://mysql31474-attendance.cloud.cms500.com/school?autoReconnect=true</param-value> -->
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>root</param-value>
<!--     <param-value>AKGrye89998</param-value> -->
  </context-param>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <jsp-file>/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.charvikent.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminHome</servlet-name>
    <jsp-file>/adminhome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHome</servlet-name>
    <url-pattern>/AdminHome</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FacultyLogin</servlet-name>
    <jsp-file>/facultylogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLogin</servlet-name>
    <url-pattern>/FacultyLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ClassCreation</servlet-name>
    <jsp-file>/class_creation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassCreation</servlet-name>
    <url-pattern>/ClassCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditClass</servlet-name>
    <jsp-file>/edit_class.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditClass</servlet-name>
    <url-pattern>/EditClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubjectCreation</servlet-name>
    <jsp-file>/subject_creation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectCreation</servlet-name>
    <url-pattern>/SubjectCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditSubject</servlet-name>
    <jsp-file>/edit_subject.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditSubject</servlet-name>
    <url-pattern>/EditSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddSubject</servlet-name>
    <jsp-file>/add_subject.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>com.charvikent.admin.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManditoryFields</servlet-name>
    <jsp-file>/manditory.jsp</jsp-file>
    <multipart-config>
      <max-file-size>20848820</max-file-size>
      <max-request-size>418018841</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManditoryFields</servlet-name>
    <url-pattern>/manditory.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminLogout</servlet-name>
    <jsp-file>/logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JsonServlet</servlet-name>
    <servlet-class>com.action.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet</servlet-name>
    <url-pattern>/JsonServlet/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JsonServlet1</servlet-name>
    <servlet-class>com.action.JsonServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet1</servlet-name>
    <url-pattern>/JsonServlet1/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JsonServlet2</servlet-name>
    <servlet-class>com.action.JsonServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonServlet2</servlet-name>
    <url-pattern>/JsonServlet2/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>